# Dependencies
node_modules
server/node_modules

# Environment Variables (Security)
.env
.env.local
.DS_Store

# Build Output
# Build Output
# dist (Committing dist for VPS performance)
server/uploads/*
server/uploads/*
server/outputs/*
logs/*

# Keep folders
!server/uploads/.gitkeep
!server/outputs/.gitkeep
!logs/.gitkeep
VideoBatcher_Setup.exe
deploy_bundle.tar.gz
deploy_auto.sh
deploy_hostinger.sh
